/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

.arrow-green {
    color: green;
    font-weight: bold;
}

.arrow-red {
    color: red;
    font-weight: bold;
}