/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

.form-heading, .page-footer {
    padding: 20px;
    background-color: #009688;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    cursor: pointer;
}