.completed-todo {
    text-decoration: line-through;
    color: green;
}

.reorder-icon {
    font-size: 25px;
    padding-left: 16px;
    color: grey;
}

.remove-icon {
    margin: 0 10px;
}

.all-items {
    margin-bottom: 50px;
}